@charset "utf-8";

/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}