@charset "utf-8";
/* body */
body {
    background: #CCFFCC;
    font-family: "Rounded Mplus 1c";
    text-align:center;
    top:0px;
}

footer {
    margin-top: 40px;
}
/* navbar */
.navbar {
    background-color: #66CC99;
}

/*kanban*/
.kanban img {
    top: 0px;
    margin: 30px;
}

.navbar-default{
    border-color:green;
}

/*kanban*/
.kanban img {
    display: inline-block;
}

/* body-footer */
footer {
    font-family: "Rounded Mplus 1c";
    background-color: #66CC99;
    position: fixed;
    bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;}

.nav.navbar-nav.navbar-left li  {
    color:blue;
}

.nav {
    display:inline-block;
}


/*show_otsukai*/
.row .buttons form{
    display: inline-block;
    margin: 0 5px;
}

.row .requestbutton{
    text-align: right;
    margin: 0 5px;
}

table.table-bordered th{
    background: #C0C0C0;
    color: #ffffff;
}
.iraisha{
    text-align: left;
}

/*timeline*/
table, th, td {
    text-align: center;
    border-collapse: collapse;
    line-height: 1.5;
}

table.table-hover th {
    text-align: center;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #C0C0C0;
    color: #ffffff;
}

table.type06 td {
    text-align: center;
    width: 350px;
    padding: 10px;
    vertical-align: top;
}

.media-object{
    height: 100px;
    width: 100px;
}

   /* ▼タブ(共通装飾＋非選択状態の装飾) */
   .tab {
      display: inline-block;          /* インラインブロック化 */
      border-width: 1px 1px 0px 1px;  /* 上側と左右に枠線を引く */
      border-style: solid;            /* 枠線の種類は「実線」 */
      border-color: black;            /* 枠線の色は「黒」 */
      border-radius: 0.75em 0.75em 0px 0px;  /* 左上と右上の角だけを丸くする */
      padding: 0.75em 1em;            /* 内側の余白量 */
      font-weight: bold;              /* タブの文字を太字にする */
      color: black;                   /* タブの文字色：黒色 */
      background-color: #e0e0e0;      /* タブの(非選択状態の)背景色：灰色 */
   }

   /* ▼タブにマウスポインタが載った際の装飾 */
   .tab:hover {
      color: green;                /* タブの文字色：緑色 */
      background-color: #ccffcc;   /* タブの背景色：淡い緑色 */
      cursor: pointer;             /* マウスポインタの形状を「指(指し示す形)」にする */
   }

   /* ▼選択状態のタブ(＝チェックが入っているラジオボタンの隣にあるタブの装飾) */
   input:checked + .tab {
      color: red;                  /* タブの文字色：赤色 */
      background-color: #ffffcc;   /* タブの背景色：淡い黄色 */
   }
   /* ▼タブ機能を制御するラジオボタン(非表示にする) */
　.tabbox input { display: none; }
　
　/* ▼タブの中身(共通装飾＋非選択状態の装飾) */
   .tabcontent {
      display: none;             /* 標準では非表示にする */
      border: 1px solid black;   /* 枠線を引く：黒色で1ピクセルの実線 */
      padding: 1em;              /* 内側の余白量 */
      background-color: #ffffcc; /* 背景色：淡い黄色(※選択中のタブの背景色と合わせます) */
   }

   /* ▼チェックが入っているラジオボタンに対応するタブの中身を表示する */
   #tabcheck1:checked ~ #tabcontent1 { display: block; }
   #tabcheck2:checked ~ #tabcontent2 { display: block; }
 