@charset "utf-8";
/* body */
body {
    background: #EEEEEE;
    background: #fff;
    font-family: "Rounded Mplus 1c";
    top:0px;
}
/* navbar */
.navbar {
    background-color: #008D56;
    bottom:5px;
    
}
.navbar-default{
    border-color:green;
}
.navbar-brand{
  font-size: 25px;
  font-family: "Rounded Mplus 1c";
}
/*kanban*/
.kanban img {
    display: inline-block;
    top: 0px;
    margin: 30px;
}
 
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-default{
    border-color:white;
}
.navbar-default .navbar-brand:hover{
    color: #ffc;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #ffc;
}
.name{
    font-size:25px;
}
/*show_otsukai*/
.row .buttons form{
    display: inline-block;
    margin: 0 5px;
}
.row .editbutton form{
    display: inline-block;
    margin: 0 5px;
}
.row .requestbutton{
    text-align: right;
    margin: 0 5px;
}
table.table-bordered th{
    background: #C0C0C0;
    color: #ffffff;
}
.iraisha{
    text-align: left;
}
table.table-hover th {
    text-align: center;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #008D56;
    color: #fff;
}
table.table-hover td {
  text-align: center;
  width: 150px;
  padding: 10px;
  vertical-align: top;
  height: 50px;
}
/*welcome スライドショー*/
div.slide-show {
    width: 1000px; /* スライドショーの幅 */
    max-width: 100%; /* スマホで表示が欠けないように */
    margin: 10px auto; /* 中央揃え */
    position: relative;
}
 
.slide-show img { 
    animation: show 16s infinite; /* 16秒のスライドショーを繰り返し */
    max-width: 100%;
    height: auto;
    opacity: 0;
    position: absolute; /* 画像を重ねて表示 */
    left: 0;
    top: 0;
}
 
@keyframes show {
    0% {opacity: 0}
    17% {opacity: 1}
    33% {opacity: 1}
    50% {opacity: 0}
}
 
.slide-show img:nth-of-type(1) {
    position: relative;
}
 
.slide-show img:nth-of-type(2) {
    animation-delay: 0s;
}
 
.slide-show img:nth-of-type(3) {
    animation-delay: 6s;
}
 
.slide-show img:nth-of-type(4) {
    animation-delay: 9s;
}
/*welcome*/
.parsley-button{
    text-align: center;
}
.parsley-button a {
    display: inline-block;
    margin: 40px;
}
/*mypage*/
.tab-box{
    padding: 20px;
    border: 1px solid #DDD;
    border-top: 0;
}
.tab-content{
    width: 100%;
    text-align: center;
    margin: auto;
}
.confirm-button form{
    display: inline-block;
    margin: 0 5px;
}
.dropdown-toggle {
    font-family: "Rounded Mplus 1c";
    font-size: 16px;
}
/*confirm_create_request*/
.row .confirm-button form{
    display: inline-block;
    margin: 0 5px;
}
table.table-bordered th{
    background: #C0C0C0;
    color: #ffffff;
}
.mypage-button{
    display: inline-flex;
}