@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
.shopWrapper{
  border-radius:15px;
  width:90%;
  height:300px;
  margin:0 auto;
  background:#ffc;
  padding-bottom: 10px;
  font-size:17px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
              0 1px 6px rgba(0, 0, 0, 0.05), 
              0 8px 8px rgba(0, 0, 0, 0.1), 
              0 16px 16px rgba(0, 0, 0, 0.1), 
              8px 32px 32px rgba(0, 0, 0, 0.15), 
              8px 64px 64px rgba(0, 0, 0, 0.15);
}
.shopdetail{
  text-align: left;
  padding-bottom: 10px;
}
.shopdetail table{
  border-collapse:collapse;
}
.shopdetail tr{
  border-bottom:1px dashed #ccc;
}
.col-sm-6{
  margin-bottom:10px;
}
body {
  background: #f1f1f1;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  background-image: url(../images/img/bg.jpg);
}
a.btn {
  background: #339933;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.memo-deadline {
  font-size: 1.5em;
  background: linear-gradient(transparent 40%, #ffff66 40%);
}
.nokori{
  font-weight: bold;
  color: red;
}
.d_left{
  text-align:right;
  padding-left:10px;
  height: 35px;
}
.d_right{
  text-align:left;
  padding-right:10px;
 
}
.row table{
  margin:10px auto;
  border-collapse: collapse;
}

.card_row tr{
 border-bottom: dotted 3px #CC9933;
}

.shopdetail{
  border-bottom: double 6px #CC9933;
}
.new-card{
  width:150px;
}
.card_buttons{
  margin-left: 46px;
}
.card_button{
  margin-left: 115px;
}
a.btn.tl_buttons{
  background-color: #CC9933;
}
a.btn.tl_buttons:hover{
  background-color: #E4E4E4;
}

.otsukai_button{
  margin-left:85px;
}

.request_button{
  margin-left:70px;
}

.auth{
  background-color: #008d56;
}

.auth:hover{
  background-color: #E4E4E4;
  color: black;
}
.uketsuke{
  height:33px;
}
.new-create-card{
  background-color: pink;
}

.edit-card{
  border-radius:15px;
  width:90%;
  margin:0 auto;
  background:#ffc;
  padding-bottom: 10px;
  font-size:17px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
              0 1px 6px rgba(0, 0, 0, 0.05), 
              0 8px 8px rgba(0, 0, 0, 0.1), 
              0 16px 16px rgba(0, 0, 0, 0.1), 
              8px 32px 32px rgba(0, 0, 0, 0.15), 
              8px 64px 64px rgba(0, 0, 0, 0.15);
}

.btn_link {
  background: #339933;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  margin-left: 1%;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}